{
    "presets": [
        "@babel/stage-1",
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "node": "8"
                }
            }
        ]
    ]
}
